@model DocumentService.Documents

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table>
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
            
            @foreach(var doc in Model.Items)
        {
            <tr>
                <td>
                    @doc.DocumentId
                </td>
                <td>
                    @doc.DocumentName
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>
